<div id="overlay" (click)="overlayOff()">
    <div id="overlayText">Oops! You have been disconnected from the server. Click to connect again.</div>
</div>
<div class="nav">
    <h3 class="keepInCenter" *ngIf="userName">Welcome {{userName}}</h3>
    <h2 class="keepInCenter">{{currentMessage}}</h2>
    <h2 *ngIf="ourTurn && gameover == false" class="keepInCenter">Your Turn!</h2>
    <h2 *ngIf="opponentUserName && !ourTurn && gameover == false" class="keepInCenter">Waiting for {{opponentUserName}}</h2>
</div>

<div class="body">

    <div class="leftContent">
        <div class='leftCCon'>
            <div *ngIf="initDone==true" class=theBoard>
                <span>Board with your ship positions. Enemy attacks will be shown in red. Enemy attacks at ship positions
                will be shown with a fire icon.</span>
                <table class="battleshipBoard">
                    <tr *ngFor="let r of boardLength" class="battleshipBoard">
                        <td *ngFor="let c of boardLength" class="battleshipBoard battleCell"
                            [attr.id]="'my'+r.toString()+c.toString()"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="rightContent">
        <div class='leftCCon'>
            <div *ngIf="initDone==false" class="initValues">
                <p *ngIf="showErrorMessage==true">Entering Name is Mandatory</p>
                <form [formGroup]="initForm" (ngSubmit)="submitInitForm()" novalidate>
                    <label>Enter Your Name:
                        <input type="text" class="form-control" formControlName="name" required autofocus/>
                    </label>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div *ngIf="initDone==true" class=theBoard>
                <span *ngIf="selectShipMessage">{{selectShipMessage}}</span>
                <table class="battleshipBoard">
                    <tr *ngFor="let r of boardLength" class="battleshipBoard">
                        <td *ngFor="let c of boardLength" class="battleshipBoard battleCell" (click)="onClick($event)"
                            [attr.id]="'their'+r.toString()+c.toString()"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="navBottom footerText">
        <h4 style="text-align:center;">You are playing against {{opponentUserName}}</h4>
        <h4 style="text-align: center">View the scorecard <a href="http://localhost:4200/scoreTable" target="_blank">here!</a></h4>
    </div>

</div>
