<div class="table-users">
    <div class="header">Users</div>
    <table cellspacing="0">
        <tr>
            <th></th>
            <th>Player Name</th>
            <th>Games Completed</th>
            <th>Lost Count</th>
            <th width="230">Win Count</th>
        </tr>
            <tr *ngFor="let item of names; index as i">
                <td class="circleIt" [style.background]="randomColors[i]" style="text-align: center; vertical-align: middle !important;" >{{item.toString().charAt(0).toUpperCase()}}</td>
                <td>{{capitalize(item.toString())}}</td>
                <td> {{+lostCounts[i] + +winCounts[i]}} </td>
                <td>{{lostCounts[i]}}</td>
                <td>{{winCounts[i]}}</td>
            </tr>
    </table>
</div>
<p style="text-align: center">click <a href="http://localhost:4200/battleboard">here</a> to start a new game.</p>
